@media (max-width:700px) 
{ 

    /* .burger { 
        position:absolute;
        right: 1%;
        top: 1%;
        width: 50px;
        height: 50px;
    } */

    #contact-me { 
        display: none;
    }

    .header-logo { 
        display: none;
    }
    .header-links { 
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
    }

    .info-content { 
        margin: 0 0 50% 0;
    }

    .info-content p { 
        font-size: 1.7rem;
        text-align: left;
        width: 100%;
        padding: 0 10%;
        padding-top: 40%;
    }

    .aboutme-content { 
        padding: 0 0;
        padding-bottom: 0;
    }


    .aboutme-content p { 
        font-size: 1.9rem;
    }

    /* My Work Mobile */

    .mywork-content { 
        display: none;
    }


    /* .mywork-content-m { 
    padding: 15% 5%;
    font-size: 2rem;
    color: white;
    display: flex;
    height: 200px;
    } */


    .mywork-content-m { 
        padding: 20% 0;
        font-size: 1.6rem;
    }

    .mywork-content-m h1 { 
        color: white;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
    }

    .item-m { 
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .item-m h1 {
        color: #ffb1cd;
        text-align: center;
        margin-bottom: 4%;
        font-size: 2rem;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
    }
    .item-m p { 
        color: gray;
        font-size: 1rem;
        width: 50%;
        text-align: center;
        display: flex;
        margin: auto;
        font-family: 'Source Code Pro', monospace;
        font-weight: 200;
    }


    .projects-content { 
        font-size: 1rem;
        color: white;
        text-align: center;
    }

    .projects-content h1 { 
        font-size: 2rem;
    }
    .projects-content p { 
        font-size: 1.5rem;        
    }

    .footer-content { 
        color: gray;
        display: inline;
        width: 100%;
        font-size: 0.8rem;
    }

}

@media (min-width:700px) {

    .mywork-content-m  { 
        display: none;
    }

    .projects-content { 
        font-size: 3rem;
        color: white;
        text-align: center;
    }
/* 
    .hamburger { 
        display: none;
    } */
}
    


body { 
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html { 
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    
}

h1 { 
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

p { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    margin: 0;
}

a { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* Header */

#header { 
    margin: 0 2%;
}

.header-logo { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

.header-content  { 
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 4rem;
    text-align: center;
}

.github:hover span { 
    display: none;
}

.github:hover::before { 
    content: "GitHub";
}

.abtme-sk { 
    color: rgb(176, 250, 255);
}

.abtme-sk:hover span { 
    display: none;
}

.abtme-sk:hover::before { 
    content: "(Show where it is xd)";
}

.header-content a {
    text-decoration: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.links { 
    margin: 0 10px;
}

.header-links { 
    position: fixed;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.9);
}

.links-in { 
    text-decoration: none;
    color: rgb(176, 250, 255);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}
.links-in:hover { 
    color: #ffb1cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.header-content a:hover { 
    color: #ffb1cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

/* Info Section */

#info { 
    padding: 15% 5%;
    width: 100%;
}

.info-content  { 
    width: 50%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: left;
    color: white;
}


/* About Me */

#about-me { 
    padding: 15% 5%;
    background-color: black;
}

#about-me h1 {
    margin-bottom: 3%;
 }

.aboutme-content { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: white;
}


/* My Work */

.mywork-content { 
    padding: 15% 5%;
    font-size: 2rem;
    color: white;
}


.item h1 { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2%;
    font-size: 70px;
}

.item p { 
    margin-top: 1rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 30px;
    text-align: left;
}


.work-img { 
    width: 700px;
    float: left;
    margin-right: 3%;
    transition: 0.2s;
    border-radius: 1%;
}

.work-img:hover { 
    transform: scale(1.05);
}


/* Projects */

#projects { 
    height: 300px;
    padding: 20% 5%;
}

.projects-content { 
    font-size: 3rem;
    color: white;
    text-align: center;
}




/* Footer */

#footer { 
    padding: 1% 1%;
    text-align: left;
    color: gray;
}

.footer-content { 
    width: 40%;
}