body { 
    background-color: black;
    margin: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

html { 
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    
}

h1 { 
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

p { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    margin: 0;
}

a { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* Header */

#header { 
    margin: 0 2%;
}

.header-logo { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

.header-content  { 
    width: 100%;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 4rem;
    text-align: center;
}

.github:hover span { 
    display: none;
}

.github:hover::before { 
    content: "GitHub";
}

.abtme-sk { 
    color: rgb(176, 250, 255);
}

.abtme-sk:hover span { 
    display: none;
}

.abtme-sk:hover::before { 
    content: "(Show where it is xd)";
}

.header-content a {
    text-decoration: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.links { 
    margin: 0 10px;
}

.header-links { 
    position: fixed;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.links-in { 
    text-decoration: none;
    color: rgb(176, 250, 255);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}
.links-in:hover { 
    color: #ffb1cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.header-content a:hover { 
    color: #ffb1cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

/* Info Section */

#info { 
    width: 100%;
    height: 400px;
}

.info-content  { 
    height: 10rem;
    width: 50%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: left;
    padding: 10% 5%;
    color: white;
}


/* About Me */

#about-me { 
    margin: 30% 5% 0 5%;
    padding-top: 15%;
    background-color: black;
    height: 300px;
}

#about-me h1 {
    margin-bottom: 3%;
 }

.aboutme-content { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.test { 
    height: 800px;
}

/* My Work */

.mywork-content { 
    height: 770px;
    margin: 15% 5%;
    font-size: 2rem;
    color: white;
}

.item { 
    padding-top: 10% ;
    text-align: center;
}

.item h1 { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.item p { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

.work-img { 
    margin-top: 5%;
}


/* Projects */

#projects { 
    height: 300px;
    padding: 0 0;
    margin: 20% 5% 0 5%;
}

.projects-content { 
    font-size: 3rem;
    color: white;
    text-align: center;
}




/* Footer */

#footer { 
    padding: 1% 1%;
    text-align: left;
    color: gray;
}

.footer-content { 
    width: 40%;
}