@media (max-width:700px) 
{ 



    #contact-me { 
        display: none;
    }

    .header-logo { 
        display: none;
    }
    .header-links { 
        margin: auto;

        width: 100%;
    }

    .info-content { 
        margin: 0 0 50% 0;
    }

    .info-content p { 
        font-size: 1.7rem;
        text-align: left;
        width: 100%;
        padding: 0 10%;
        padding-top: 40%;
    }



    .aboutme-content { 
        padding: 30% 0;
        padding-bottom: 0;
    }


    .aboutme-content p { 
        font-size: 1.5rem;
    }

    /* My Work Mobile */

    .mywork-content { 
        display: none;
    }

    .mywork-content h1 { 
        display: none;
    }

    .item { 
        display: none;
    }


    .mywork-content-m { 
        padding: 20% 0;
        font-size: 1.6rem;
    }

    .mywork-content-m h1 { 
        color: white;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
    }

    .item-m { 
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .item-m h1 {
        color: #ffb1cd;
        text-align: center;
        margin-bottom: 4%;
        font-size: 2rem;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
    }
    .item-m p { 
        color: gray;
        font-size: 1rem;
        width: 50%;
        text-align: center;
        display: flex;
        margin: auto;
        font-family: 'Source Code Pro', monospace;
        font-weight: 200;
    }


    .projects-content { 
        font-size: 1rem;
        color: white;
        text-align: center;
    }

    .projects-content h1 { 
        font-size: 2rem;
    }
    .projects-content p { 
        font-size: 1.5rem;        
    }

    .footer-content { 
        color: gray;
        display: inline;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }

    .aboutm-content p { 
        font-size: 1rem;
    }

    /* My Skills Mo */
    
    #mySkills{
        display: block; 
    }

    #mySkills .card-holder { 
        display: grid;
        margin-top: 10%;

    }

    #mySkills .card-holder p { 
        margin-bottom: 10%;
    }

}

@media (min-width:700px) {

    .mywork-content-m  { 
        display: none;
    }

    .projects-content { 
        font-size: 3rem;
        color: white;
        text-align: center;
    }
}
    


body { 
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html { 
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    
}

h1 { 
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

p { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    margin: 0;
}

a { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* Header */

#header { 
    margin: 0 2%;
}

.header-logo { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

.header-content  { 
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 4rem;
    text-align: center;
}

.github:hover span { 
    display: none;
}

.github:hover::before { 
    content: "GitHub";
}

.abtme-sk { 
    color: rgb(176, 250, 255);
}

.abtme-sk:hover span { 
    display: none;
}

.abtme-sk:hover::before { 
    content: "(Show where it is xd)";
}

.header-content a {
    text-decoration: none;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.links { 
    margin: 0 10px;
}

.header-links { 
    position: fixed;
    z-index: 1;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.9);
}

.links-in { 
    text-decoration: none;
    color: rgb(176, 250, 255);
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}
.links-in:hover { 
    color: #ffb1cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.header-content a:hover { 
    color: #ffb1cd;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

/* Info Section */

#info { 
    padding: 15% 5%;
    width: 100%;
}

.info-content  { 
    width: 50%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: left;
    color: white;
}


/* About Me */

#about-me { 
    padding: 15% 5%;
    background-color: black;
}

#about-me h1 {
    margin-bottom: 3%;
 }

.aboutme-content { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: white;
}


/* My Work */

.mywork-content { 
    padding: 15% 5%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 2.4vw;
}

.mywork-content h1 { 
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.item { 
    margin: 3% 0;
    border-right: 1px solid white;
    background-color: rgb(7, 7, 7);
    overflow: hidden;
}

.item-text{
    margin-top: 3%;
}


.item a { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2%;
    font-size: 2.5vw;
    color: rgb(176, 250, 255);
}

.item a:hover { 
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.item p { 
    margin-top: 1rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 1.7vw;
    text-align: left;
    width: 90%;
}


.work-img { 
    width: 450px;
    float: left;
    margin-right: 3%;
    transition: 0.2s;
    border-radius: 1%;
}

.work-img:hover { 
    transform: scale(1.05);
}


/* Projects */

#projects { 
    height: 300px;
    padding: 20% 5%;
}

.projects-content { 
    font-size: 3vw;
    color: white;
    text-align: center;
}


/* Skills */

#mySkills { 
    margin: 0;
    padding: 7% 0;
}

#mySkills h1 { 
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#mySkills p { 
    color: gray;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.card-holder { 
    clear: both;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-holder h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

.card { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:black;
    border: 2px solid white;
    margin: 5% 2%;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    transition: 1s;
}

.card:hover { 
    transform: scale(1.1);
    background-color: gray;
}

.card img { 
    padding: 6% 0;
}

.card h1 { 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.card p { 
    margin-top: 5px;
    font-size: 16px;
}




/* Footer */

#footer { 
    padding: 1% 1%;
    text-align: left;
    color: gray;
}

.footer-content { 
    width: 40%;
}